@import '~modern-normalize/modern-normalize.css';

.container {
  position: relative;
  display: flex;
  align-content: center;
  margin: 40px auto;
}

.wrapper {
  width: 100%;
  overflow: hidden;
  border: 1px solid gray;
}

.innerWrapper {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in;
}

.slide {
  display: flex;
  justify-content: center;

  & > img {
    align-self: center;
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.chevron {
  width: 32px;
  height: 32px;

  &.left {
    transform: rotate(180deg);
  }
}

.slide-indicator {
  position: absolute;
  top: 4px;
  right: 52px;
  padding: 6px 12px;
  border-radius: 16px;
  background-color: #333;
  color: #fff;
}
