@import '~modern-normalize/modern-normalize.css';

.container {
  display: flex;
  align-content: center;
  margin: 40px auto;
}

.wrapper {
  overflow: hidden;
  border: 1px solid gray;
}

.innerWrapper {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in;
}

.slide {
  border: 1px solid lightblue;
  display: flex;
  justify-content: center;

  & > img {
    align-self: center;
  }
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.chevron {
  width: 32px;
  height: 32px;

  &.left {
    transform: rotate(180deg);
  }
}
