* {
  box-sizing: border-box;
}

.wrapper {
  overflow: hidden;
  border: 1px solid gray;
}

.innerWrapper {
  display: flex;
  transform: translate3d(0, 0, 0);
  transition: transform 0.3s ease-in;
}

.slide {
  border: 1px solid lightblue;
  display: flex;
  justify-content: center;

  & > img {
    align-self: center;
  }
}
